.home-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #1c1c1c;
    color: white;
    min-height: 100vh;
    padding-top: 50px;
}

h1 {
    font-size: 2.5em;
    color: gold;
}

p {
    font-size: 1.2em;
    color: #ecf0f1;
}
