body {
    font-family: Arial, sans-serif;
    background-color: #333; /* Background color */
    color: #fff;
    margin: 0;
    padding: 0;
}

.appointments-container {
    display: flex;
    justify-content: center;
    align-items: center; /* Center content vertically */
    min-height: 100vh;
    background-color:  #1c1c1c; /* Keep the dark background */
    padding-top: 50px; /* Adjusting padding for better alignment */
}

.appointments-box {
    background-color: #34495e; /* Dark box color */
    border-radius: 8px;
    width: 70%; /* Set width of the box */
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; /* Adjust margin for better spacing */
}

.appointments-title {
    font-size: 2em;
    color: #fff;
    margin-bottom: 20px;
    text-align: center;
}

.no-appointments {
    color: #ecf0f1;
    font-size: 1.2em;
    text-align: center;
}

.appointments-table-container {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

.appointments-table {
    width: 100%;
    border: 1px solid #bdc3c7;
    border-radius: 8px;
    padding: 10px;
}

.appointments-table th, .appointments-table td {
    padding: 10px;
    text-align: center;
}

.appointments-table th {
    background-color: #2c3e50;
    color: #fff;
}

.appointments-table tr:nth-child(even) {
    background-color: #34495e;
}

.appointments-table tr:hover {
    background-color: #1abc9c;
}

.back-btn {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    text-align: center;
}

.back-btn:hover {
    background-color: #2980b9;
}
