.patient-reports-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #1c1c1c;
    color: white;
    height: 100vh;
    padding-top: 20px;
}

.header-spacer {
    height: 100px; /* Height of the spacer block that pushes content down */
    background-color: #1c1c1c; /* Matches the background of the header */
    width: 100%;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 40px;
}

.reports-table {
    width: 80%;
    border-collapse: collapse;
    background-color: #34495e;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.reports-table th,
.reports-table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #bdc3c7;
}

.reports-table th {
    background-color: #2c3e50;
}

.reports-table tr:nth-child(even) {
    background-color: #3b4b5a;
}

.reports-table tr:hover {
    background-color: #1abc9c;
}

/* Back Button */
.btn-back {
    margin-top: 20px;
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.btn-back:hover {
    background-color: #1b74b6;
}
