.appointments-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1c1c1c;
    color: white;
    min-height: 100vh;
    padding-top: 20px;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 40px;
}

.appointments-table {
    width: 80%;
    border-collapse: collapse;
    background-color: #34495e;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.appointments-table th,
.appointments-table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #bdc3c7;
}

.appointments-table th {
    background-color: #2c3e50;
}

.appointments-table tr:nth-child(even) {
    background-color: #3b4b5a;
}

.appointments-table tr:hover {
    background-color: #1abc9c;
}

.remove-btn {
    background-color: red;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.remove-btn:hover {
    background-color: darkred;
}

/* Back Button */
.btn-back {
    margin-top: 20px;
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.btn-back:hover {
    background-color: #1b74b6;
}
