.view-reports-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1c1c1c;
    color: white;
    min-height: 100vh;
    padding-top: 20px;
}

.reports-heading {
    font-size: 2.5em;
    margin-bottom: 40px;
    color: gold; /* Change color of "Your Reports" text to gold */
}

.error-message {
    color: red;
    font-size: 1.2em;
    margin-bottom: 20px;
}

.reports-table-container {
    width: 80%;
    padding: 20px;
    background-color: #34495e;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.reports-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #34495e;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.reports-table th,
.reports-table td {
    padding: 15px;
    text-align: left;
    border: 1px solid #bdc3c7;
    color: #ecf0f1;
}

.reports-table th {
    background-color: #2c3e50;
}

.reports-table tr:nth-child(even) {
    background-color: #3b4b5a;
}

.reports-table tr:hover {
    background-color: #1abc9c;
}

.btn-back {
    margin-top: 20px;
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.btn-back:hover {
    background-color: #1b74b6;
}
